<% provide(:title, "Home") %>

<% if logged_in? %>
   <div class="row">
      <%= render 'static_pages/if_login' %>
      <div class= "col-md-8">
         <h3>Micropost Feed</h3>
         <%= render 'shared/feed' %>
      </div>
   </div>
<% else %>
   <%= render 'static_pages/if_logout' %>
<% end %>


<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>