<% provide(:title, "Edit user") %>
<% provide(:submit, "Save changes") %>
<h1> Edit user </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/form_for' %>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>
  </div>
</div>